.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.navbar-nav .nav-link i {
  margin-right: 0.3rem;
}

.custom-navbar {
  background-color: #fbf7ef;
}

.custom-navbar .nav-link {
  color: #6d7549 !important;
}

.custom-navbar .nav-link.active {
  color: #5c633d !important;
  font-weight: bold;
}

.custom-navbar .nav-link:hover {
  color: #5c633d !important;
  font-weight: bold;
}

.navbar-toggler {
  border-color: #6d7549;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%236d7549' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.login-dropdown .dropdown-toggle {
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.login-dropdown .dropdown-toggle:hover {
  color: #fbf7ef;
}

.dropdown-menu {
  border-radius: 8px;
  min-width: 180px;
  padding: 0.5rem 0;
  background-color: #ffffff;
  border: none;
}

.dropdown-item.login-option {
  font-weight: 500;
  color: #273e4e;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-item.login-option:hover {
  background-color: #f0f0f0;
  color: #000;
}
