.register-choice-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #ffffff;
  padding: 1rem;
}

.register-choice-container {
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 30px;
  background: #fbf7ef;
  border:1px solid #3f5765;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  color: #555;
}

.choice-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.choice-btn {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.choice-btn.applicant {
  background-color: #6d7549;
  color: white;
}

.choice-btn.company {
  background-color: #49576d;
  color: white;
}

.choice-btn:hover {
  opacity: 0.9;
}
