.back-button {
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: #6d7549 !important;
  color: #fbf7ef !important;
  transform: translateX(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.animate-back {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
